*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: hsl(229, 57%, 11%);

    background-image: url('images/bg-desktop.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 120%;
}

main {
    font-family: 'Raleway';
    font-size: 0.87rem;
    width: 57.3rem;
    height: 12.8rem;
    margin: 17.8rem 16.1rem ;
    

    display: grid;
    grid-template-columns: 21.8rem  33.7rem;
    column-gap: 1.8rem;
    grid-template-areas: 
        "box-1 box-2";
}

/** BOX-1 (left)  **/

.box-1 {
    grid-area: box-1;
    background-color: hsl(228, 56%, 26%);
    padding: 2.3rem;
    border-radius: 0.7rem 7rem 0.7rem 0.7rem;
}

/** Icons  **/
.folders {
    padding-top: 2.5rem;
    width: 11.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


button {
    width: 3.1rem;
    height: 3rem;
    border-radius: 0.6rem;
    background-color:hsl(229, 57%, 11%);
}

button:hover {
    cursor: pointer;
}



/** BOX-1 (right)  **/
.box-2 {
    grid-area: box-2;
    background-color: hsl(228, 56%, 26%);
    width: 33.7rem;
    height: 9.6rem;
    margin-top: 3.12rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: hsl(0, 0%, 100%);
    padding-left: 2.2rem;
}


/** Ballon status**/
.storage-left {
    display: inline-flex;
    position: absolute;
    width: 11.3rem;
    height: 4.6rem;
    margin-bottom: 11rem;
    margin-left: 43rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.7rem 0.7rem 0 0.7rem;
    color: hsl(229, 7%, 55%);

    font-size: 0.8rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.storage-left span {
    font-size: 2.4rem;
    color:hsl(0, 0%, 0%);
    margin: 0.3rem;
}

.storage-left::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid hsl(0, 0%, 100%);
    border-top: 0.6rem solid hsl(0, 0%, 100%);
    border-bottom: 0.6rem solid transparent;
    right: 0.031rem;
    bottom: -1.18rem;  
}

/** Storage bar-info**/
.storage-bar {
    display: flex;
    align-items: center;
    height: 1.5rem;
    width: 28.7rem;
    background-color: hsl(229, 57%, 11%) ;
    border-radius: 0.7rem;
    margin-top: 1.2rem;
}


#storage-status {
    display: inline-block;
    height: 1.12rem;
    width: 21.2rem;
    margin-left: 0.12rem;
    background-image: linear-gradient( to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 0.7rem;
}

#circle-bar {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
    border-radius: 1rem;
    margin-left: -1.06rem;
}

#storage-size {
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
    width: 28.7rem;
    font-weight: 700;
}


/** Mobile style **/
@media (min-width: 375px) and (max-width: 1024px) {
    body {
        background-image: url('images/bg-mobile.png');
        background-position: initial;
        background-size: cover;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20.2rem;
        height: 100vh ;
        margin: 2rem;
    }

    .box-2 {
        width: 20.4rem;
        height: 10.1rem;
        margin-top: 1.2rem;
        padding: 2rem;
        padding-bottom: 3rem;
    }

    .storage-info{
        display: flex;
        align-content: center;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .storage-bar {
        width: 16.7rem;
        padding: 0.3rem;
    }

    #storage-status {
        width: 12.3rem;
        margin-left: -0.125rem;
    }

    #storage-size {
        width: 16.7rem;
    }

    .storage-left {
        margin-top: 35.75rem;
        margin-left: 4.6rem;
        border-radius: 0.7rem;
    }

    .storage-left::before {
        content: none;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: url('images/bg-desktop.png');
        background-position: bottom;
        background-size: cover;
    }

}

@media (min-width: 1366px) {
    body {
        background-image: url('images/bg-desktop.png');
        background-position:bottom;
        background-size: 100%;
    }

}